body{
    background-color: #08a6f01c;
    
}
.center{
    text-align: center;
    display: block;
    justify-content: center; 
     align-items: center;
    margin-top: 50px;
    margin-left: 100px;
}
.card{
    /* align-items: center;
    margin: auto;
    justify-content: center; */
    
    
}
.dis{
    display: flex;
    justify-content: "center";
    align-items: "center";

}

