.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
}
.avatar-item {
    margin-right: 100px;
  }
.p{
    margin: 0;
    display: inline;
}
.h1{
    margin-left: 650px;
    color: #092b00;
    border: 5px darkolivegreen;
    border-style:groove;
    border-radius: 5px;
    width:fit-content;
    background-color:#fde3cf;
}
/* .card{
    display: grid;
    width: 240px;
    margin-left:30px; 
    box-shadow: #092b00; 
   
} */
