.headerContainer {
  margin-left: 99px;
  margin-right: 99px;
  border: 5px #092b00;
  border-style: groove;
  border-radius: 5px;
  text-align: center;
  background-color: #254000;
}

.header {
  display: inline;
  color: #f0ecec;
}

.clearBtn {
  margin-left: 10px;
}
