.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
}
.avatar-item {
    margin-right: 100px;
  }
.p{
    margin: 0;
    display: inline;
}
.h1{
    margin-left: 99px;
    margin-right: 99px;
    color: #f0ecec;
    border: 5px #092b00;
    border-style:groove;
    border-radius: 5px;
    text-align: center;
    /* width:fit-content; */
    background-color:#254000;
}
/* .card{
    display: grid;
    width: 240px;
    margin-left:30px; 
    box-shadow: #092b00; 
   
} */
.card-style{
    display: "flex";
          justify-content: "center";
          align-items: "center";
          color:'tomato';
          margin-top: 20px;
          margin-right: 27px;
}
.p1{
    margin-left: 1272px;
}
.div-style{
    display: "flex";
       justify-content: "center";
      align-items: "center";
         color:'tomato';
        flex-direction: 'row';

}
